body {
    background-color: #0a192f;
    color: #ccd6f6;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    text-align: center;
    max-width: 800px;
    margin-bottom: 2rem;
}

h1, h2, h3 {
    color: #64ffda;
}

p {
    color: #a8b2d1;
    max-width: 600px;
    margin: 0 auto 1.5rem;
    text-align: center;
}

.log_in_btn {
    color: #0a192f;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 7px;
}

.log_in_btn:hover {
    background-color: rgba(100, 255, 218, 0.1);
}

.log_out_btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4b5c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.log_out_btn:hover {
    background-color: #ff1e36;
}

.btn-custom {
    border: 1px solid #64ffda;
    color: #64ffda;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 7px;
}

.btn-custom:hover {
    background-color: rgba(100, 255, 218, 0.1);
}

.experiences {
    width: 60%;
    background-color: #112240;
    padding: 40px 20px;
    color: #ccd6f6;
    text-align: center;
    box-shadow: 0 4px 10px rgba(133, 40, 17, 0.3);
    border-radius: 16px;
    margin-bottom: 50px;
}

.experiences h3 {
    font-size: 1.8rem;
    color: #64ffda;
    margin-bottom: 10px;
}

.experiences p, .experiences ul {
    font-size: 1.1rem;
    line-height: 1.6;
}

.experiences ul {
    list-style: none;
    padding: 0;
}

.experiences li {
    margin-bottom: 10px;
}

.experiences li strong {
    color: #ffffff;
}

.technologies-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    flex-wrap: wrap;
}

.languages-box {
    background-color: #112240;
    padding: 20px;
    border-radius: 8px;
    color: #ccd6f6;
    text-align: center;
    box-shadow: 0 4px 10px rgba(134, 123, 197, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.language-circles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.circle_tec, .circle {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: rotate 40s linear infinite;
    transform-origin: center center;
    box-shadow: 0 4px 10px rgba(235, 57, 3, 0.3);
}

.circle_tec .item, .circle .item {
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transform-origin: 150px 150px;
}

.circle_tec .item a, .circle .item a {
    color: inherit;
    text-decoration: none;
}

.circle_tec .item a:hover, .circle .item a:hover {
    color: rgba(235, 57, 3, 0.3);
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.circle_tec .item:nth-child(1) { transform: rotate(0deg) translateX(120px); color: #17791f; }
.circle_tec .item:nth-child(2) { transform: rotate(60deg) translateX(120px); color: #10b981; }
.circle_tec .item:nth-child(3) { transform: rotate(120deg) translateX(120px); color: #007ACC; }
.circle_tec .item:nth-child(4) { transform: rotate(180deg) translateX(120px); color: #00a4ef; }
.circle_tec .item:nth-child(5) { transform: rotate(240deg) translateX(120px); color: #94341d; }
.circle_tec .item:nth-child(6) { transform: rotate(300deg) translateX(120px); color: #003B57; }

.circle .item:nth-child(1) { transform: rotate(0deg) translateX(120px); color: #eb8220; }
.circle .item:nth-child(2) { transform: rotate(60deg) translateX(120px); color: #fffb10; }
.circle .item:nth-child(3) { transform: rotate(120deg) translateX(120px); color: #096397; }
.circle .item:nth-child(4) { transform: rotate(180deg) translateX(120px); color: #416419; }
.circle .item:nth-child(5) { transform: rotate(240deg) translateX(120px); color: #5c85db; }
.circle .item:nth-child(6) { transform: rotate(300deg) translateX(120px); color: #ac4feb; }

.projects {
    margin-top: 20px;
    text-align: center;
}

.projects .project {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.projects img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.projects a {
    display: block;
    color: #64ffda;
    text-decoration: none;
}

.projects a:hover {
    text-decoration: underline;
}
