<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
   
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <title>BIENVENIDO</title>
</head>

<body>
   <div class="burbuja_home">
    <h1 class="titulo_burbuja_home">
    Seguro Que Estas Seguro?
    </h1>
    <h2>
        no preguntes mas
    </h2>
    <h3>usa esta app para verificar cuan seguro estas en el trabajo</h3>
   </div>

</body>

</html>