<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/devicons/devicon@2.15.1/devicon.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <title>Control de EPP+</title>
</head>

<body>
    <label><input type="checkbox" id="cbox1" value="casco" /> casco</label><br />

    <label><input type="checkbox" id="cbox2" value="guantes" /> guantes</label><br />

    <label><input type="checkbox" id="cbox3" value="lentes" /> lentes</label><br />

    <label><input type="checkbox" id="cbox4" value="tanga" /> tanga</label><br />

    <div class="popup" onclick="myFunction()">?
        <span class="popuptext" id="myPopup">soy patricio gallo dillon y me gusta chupar verga</span>
    </div>
    <script>
        // When the user clicks on <div>, open the popup
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>
</body>

</html>